table {
    width:auto;

}
td,tr {
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;

}

ul {
    height: 100px;
    overflow: auto;
    list-style-type: none;

}

.liTitre {
    list-style-type: none;
  }