
table {
    width:auto;

}
td,tr {
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;

}

ul {
    height: 100px;
    overflow: auto;
    list-style-type: none;

}

.liTitre {
    list-style-type: none;
  }

  #modifierEvenement{

 
    
  }

  #formModifierEvenement{
      display: flex;
      align-items: center;
      visibility: hidden;
      z-index: 1;
      
  }

  #separation{
      display: flex;
      border:5px black solid;
  }
